.container {
	min-height: calc(100vh - var(--header-height) - var(--footer-height));
	overflow: auto;
	padding: 0 var(--side-padding) var(--bottom-padding);
}
.container .content {
	max-width: 1240px;
	margin: 0 auto;
}
