.search {
	display: flex;
	justify-content: center;
	margin-bottom: var(--px-md);
	padding: var(--px-md);
	background-color: var(--gray-10);
}
@media (max-width: 743px) {
	.search {
		padding: 0;
	}
}
.search .inputWrap {
	width: var(--search-bar-width);
}
.search .inputWrap input {
	height: var(--btn-xlg2);
	padding-left: 16px;
	padding-right: calc(var(--ic-sm) + var(--clear-space) + var(--btn-xlg2) - 2px);
	font-size: 1rem;
	border-color: var(--midnight-900);
}
.search .inputWrap input + .clear {
	right: calc(1px + var(--btn-xlg2) - 2px);
}
.search .inputWrap .submit {
	position: absolute;
	right: 1px;
	top: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(var(--btn-xlg2) - 2px);
	height: calc(100% - 2px);
	font-size: 0;
}
.search .inputWrap .submit:before {
	content: '';
	width: var(--ic-md);
	height: var(--ic-md);
	background: url(../images/ic_search.svg) no-repeat;
	background-size: auto 100%;
}

.headingInfo {
	margin: var(--px-md) 0;
	font-size: var(--heading-info);
	line-height: var(--line-height-sm);
}

.headingInfo > em {
	color: var(--midnight-900);
}

.searchInfo {
	display: flex;
	justify-content: space-between;
	margin: var(--px-md) 0;
}
.searchInfo > .headingInfo {
	margin: 0;
}
.searchInfo > .init {
	display: flex;
	align-items: center;
	padding: 0 4px;
	font-size: 16px;
}
.searchInfo > .init:before {
	content: '';
	width: var(--ic-sm);
	height: var(--ic-sm);
	margin-right: 2px;
	background: url(/images/ic_init.svg) no-repeat;
	background-size: auto 100%;
}
@media (max-width: 743px) {
	.searchInfo > .init {
		padding: 0 2px;
		font-size: 14px;
	}
}

.inputWrap input {
	width: 100%;
	padding-right: calc(var(--ic-sm) + var(--clear-space));
}
.inputWrap {
	position: relative;
	--clear-space: 16px;
}
@media (max-width: 743px) {
	.inputWrap {
		--clear-space: 8px;
	}
}
.inputWrap input {
	width: 100%;
	padding-right: calc(var(--ic-sm) + var(--clear-space));
}
.inputWrap input + .clear {
	position: absolute;
	right: 1px;
	top: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(var(--ic-sm) + var(--clear-space));
	height: calc(100% - 2px);
	font-size: 0;
}
.inputWrap input + .clear:before {
	content: '';
	width: var(--ic-sm);
	height: var(--ic-sm);
	background: url(/images/ic_clear.svg) no-repeat;
	background-size: auto 100%;
}
.inputWrap input:placeholder-shown + .clear {
	display: none;
}