.board-write {
	border-top: 2px solid var(--midnight-900);
}
.board-write input[type='text'],
.board-write input[type='email'],
.board-write input[type='tel'] {
	width: 100%;
}
.board-write .result-info {
	padding: var(--space-box) 0;
	text-align: center;
	border-bottom: 1px solid var(--gray-200);
	word-break: keep-all;
}
.board-write .result-info:before {
	display: block;
	content: '';
	width: var(--ic-xxlg);
	height: var(--ic-xxlg);
	margin: 0 auto var(--space-md);
	background: url(/images/ic_confirm.svg) no-repeat;
	background-size: auto 100%;
}
.board-write .result-info > strong {
	font-size: var(--space-md2);
	line-height: 1.3;
}
.board-write .result-info > p {
	margin-top: var(--space-xsm);
	line-height: var(--line-height-md);
}