* {
  -webkit-tap-highlight-color: rgba(112, 215, 191, .08);
  box-sizing: border-box;
}

div {
  unicode-bidi: isolate;
}

.agreement-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: var(--space-md2);
	padding: 4px var(--space-sm2);
	background-color: var(--gray-10);
	border: 1px solid var(--gray-10);
}
.agreement-box .dropdown-wrapper {
	position: static;
}
.agreement-box .toggle {
	display: flex;
	align-items: center;
	height: var(--input-md);
	overflow: hidden;
	font-size: 16px;
}
.agreement-box .toggle:after {
	content: '';
	width: var(--ic-sm);
	height: var(--ic-sm);
	margin-left: 2px;
	background: url(../images/ic_arrow.svg) no-repeat;
	background-size: auto 100%;
	transition: transform 0.4s var(--cubic-bezier-primary);
}
.agreement-box .active .toggle:after {
	transform: rotate(180deg);
}
.agreement-box .full-text {
	z-index: 999;
	position: absolute;
	right: 0;
	top: 100%;
	width: 70%;
	min-width: 0;
}
.agreement-box .full-text > .inner {
	padding: var(--space-md3);
	background-color: #fff;
	border: 1px solid var(--midnight-900);
}
.agreement-box .full-text .heading-info {
	margin-top: 0;
	padding-bottom: var(--space-xsm2);
	border-bottom: 2px solid var(--midnight-900);
}
.agreement-box .full-text > .inner > p {
	margin-top: var(--space-xsm);
	font-size: var(--input-md-fsize);
	line-height: var(--line-height-md);
}
.agreement-box .full-text > .inner > p > strong {
	display: block;
}
.agreement-box label.checkbox > i:before {
	border-radius: calc(var(--input-md-fsize) + 4px);
}
@media (max-width: 743px) {
	.agreement-box {
		flex-direction: column;
		align-items: flex-end;
	}
	.agreement-box > label {
		min-width: 100%;
	}
	.agreement-box .toggle {
		font-size: 14px;
	}
	.agreement-box .full-text {
		width: 100%;
	}
}

button {
  background: none;
  border: none;
  padding: 0;
}

label.checkbox, label.radio {
  cursor: pointer;
  display: inline-block;
  font-size: var(--input-md-fsize);
  overflow: hidden;
  position: relative;
  vertical-align: top;
}