.process-info {
	display: flex;
	margin: 0 calc(-1 * var(--space-md) / 2);
	counter-reset: li;
	line-height: var(--line-height-sm);
}
.process-info > li {
	flex: 1;
	margin: 0 calc(var(--space-md) / 2);
	padding: 0 0 0 24px;
}
.reduced .process-info {
	margin: 0 -12px;
}
.reduced .process-info > li {
	margin: 0 12px;
	padding: 0 8px;
}
.process-info > li > .ic {
	display: block;
	width: var(--ic-xlg);
	height: var(--ic-xlg);
	margin-bottom: 8px;
}
.process-info > li > span {
	position: relative;
	display: block;
}
.process-info > li:not(:first-child) > span:before {
	content: '';
	position: absolute;
	left: -36px;
	top: 0;
	width: 24px;
	height: 24px;
	background: url(/images/ic_step_arrow.svg) no-repeat;
	background-size: auto 100%;
}
.process-info > li > span > strong {
	display: block;
	font-size: 18px;
}
.process-info > li > span > strong:before {
	content: counter(li) '. ';
	counter-increment: li;
}
.process-info > li > span > em {
	display: block;
	margin-top: 8px;
	font-size: 16px;
	color: var(--gray-700);
}
@media (max-width: 1023px) {
	.process-info {
		flex-direction: column;
	}
	.process-info > li {
		display: flex;
		padding: 0 !important;
	}
	.process-info > li:not(:first-child) > span:before {
		display: none;
	}
	.process-info > li > span > em {
		max-width: none !important
	}
}
@media (max-width: 743px) {
	.process-info > li:not(:first-child) {
		margin-top: 20px;
	}
	.process-info > li > .ic {
		margin: 0 12px 0 0;
	}
	.process-info > li > span > strong {
		font-size: 16px;
	}
	.process-info > li > span > em {
		margin-top: 4px;
		font-size: 14px;
	}
}
@media (min-width: 744px) and (max-width: 1023px) {
	.process-info > li:not(:first-child) {
		margin-top: 24px;
	}
	.process-info > li > .ic {
		margin: 0 16px 0 0;
	}
}