.heading-4 {
  align-items: center;
  display: flex;
  font-size: var(--heading-4);
  margin: var(--heading-4-margin);
}

.heading-2, .heading-4 {
  line-height: var(--line-height-sm);
}

h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

* {
  -webkit-tap-highlight-color: rgba(112, 215, 191, 0.08);
  box-sizing: border-box;
}