.btn-tertiary {
	background-color: #fff;
	border: 1px solid var(--midnight-900);
}

@media (hover: hover) and (pointer: fine) {
	.btn-tertiary:not(:disabled):hover {
		background-color: var(--gray-50);
	}
}