@import 'src/shared/common/ui/fonts.css';
@import 'src/shared/common/ui/vars.css';

.app {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'KiaSignatureFixRegular', sans-serif;
}

.container {
  padding: 0 var(--side-padding);
}
